.header {
    width:100%;
    height: 90px;
}

.header_wrapper {
	position: absolute;
	width: 100%;
    left: 0px;
    height: 90px;
    background-color: #BCDEDF;
}

.header_logo {
	float:left;
	margin-left:30px;
	margin-top:15px;
	
}

.header_right{
	margin-right: 10px;
	height: 90px;
}

.user_links{
	float: right;
    margin-top: 70px;
}

.user_links, .user_links a{
    color: #fff;
}

.create_new_quote{
	position:absolute;
	top: 70px;
	left: 30px;
	height:20px;
}

.create_new_quote a {
  font: italic 100%/1.0 Georgia, serif;
  font-size: 16px;
  color: #0000FF;
}

.create_new_quote a:hover {
  background: #FFFF00;
}

.info, .success, .warning, .error2, .validation {
border: 1px solid;
padding:10px 10px 10px 50px;
background-repeat: no-repeat;
background-position: 10px center;
}
.info {
color: #00529B;
background-color: #BDE5F8;
background-image: url('/static/images/info.png');
}
.success {
color: #4F8A10;
background-color: #DFF2BF;
background-image:url('/static/images/success.png');
}
.warning {
color: #9F6000;
background-color: #FEEFB3;
background-image: url('/static/images/warning.png');
}
.error2 {
color: #D8000C;
background-color: #FFBABA;
background-image: url('/static/images/error.png');
}

#flash_messages{
    position:absolute; 
    top:95px;
     margin-left: 20px;
}

