
.create_quote{
   
}

.create_quote form{
	margin-bottom: 50px;
}

.create_quote label{
    color: #000;
    font-size: 12px;
    font-weight: bold;
}

.create_quote .btn1{
	float: left;
	margin-top: 0px;
	margin-right: 40px;
    margin-bottom: 20px;
}

.create_quote .btn1 span{
	font-size: 15px;
}

.labelrowElem{
	margin-top: 23px;
}

.rowElem{
   margin-top: 5px;
}