<div class="search_quote col" data-id="{{data_id}}">
    <form method='post' action='/search'>
        <div class="search_input">
        <input id="main-query" class="side_text help_input" value="Search..." type='text' name='q' value='{{q}}'/>
        </div>
        <div class="search_btn">
        <input type="image" value="submit" src="/static/images/master/submit.jpg">
        </div>
        <div class="clear"></div>
    </form>
</div>

<a id="help_site" href="/cq" class="col site_help" title="Create Quote">Create Quote</a>

<div class="clear"></div>
