{% autoescape off %}
<div style="width: 400px">
    <div class="quote_head" style="width: 400px">
        <div class="quote_title" style="margin-left: 5px; font-weight: bold; font-size:14px;float:left">{{title}}</div>
        <div class="quote_author" style="float:right; font-size:11px; color: #7e7e7e">{{author}}</div>
        <div class="clear"></div>
    </div>
    <div class="quote_text" style="font-size: 13px; margin-bottom: 5px;border-top: 2px solid #C2E0E0; border-bottom: 2px solid #C2E0E0; margin-top: 10px; padding-top: 15px; padding-left: 20px; padding-bottom: 15px;">
    {{text}}
    </div>
    
    {% for tag in tags %}
    <div style="float:left; margin-right: 8px; font-size: 11px; color: #7e7e7e">{{tag.text|upper}}</div>
    {% endfor %}
    <div class="clear"></div>
    {% if user and bundles|length %}
    <form class="add_to_bundle transform" style="margin-top:10px;">
        <label style="color: #363637; font-size: 12px; font-weight: bold;">Add to bundle</label>
        <div class="rowElem" style="margin-top: 7px">
            <select name="name">
                {% for b in bundles %}
                <option value="{{b.id}}">{{b.name}}</option>
                {% endfor %}
            </select>
        </div>
        <input type="hidden" name="data_id" value="{{data_id}}"/>
        <input type="hidden" name="quote" value="{{id}}"/>
        <input type='submit' value="Add to this bundle"/>
    </form>
   {% endif %}
   <div class="share-links">
    Share:
    
    <a class="twitter" target="_blank" title="Share on Twitter" href="http://twitter.com/?status={{ link|urlencode }}">Twitter</a> | 
    
    <a class="facebook" target="_blank" title="Share on Facebook" href="http://facebook.com/share.php?u={{ link|urlencode }}">Facebook</a> | 
    
    <a class="digg" target="_blank" title="Digg This" href="http://digg.com/submit?url={{ link|urlencode }}&title={{ title|urlencode }}&topic=law">Digg</a> | 
    
    <a class="reddit" target="_blank" title="Submit to Reddit" href="http://reddit.com/submit?url={{ link|urlencode }}">Reddit</a> | 

    <a class="buzz" target="_blank" title="Submit to Google Buzz" href="http://www.google.com/buzz/post?message={{ title|urlencode }}&url={{ link|urlencode }}">Buzz</a>
    </div>
</div>
{% endautoescape %}
