<div class="search_quote col" data-id="{{data_id}}">
    <form method='post' action='/search'>
        <div class="search_input">
        <input id="main-query" class="side_text help_input" value="Search Quote Titles..." type='text' name='q' value='{{q}}'/>
        </div>
        <div class="search_btn_div">
            <a href="#" class="btn1"><span><span><b>&nbsp;</b><u>Search</u></span></span></a>
        </div>
        <div class="clear"></div>
    </form>
</div>

<a id="help_site" href="/cq" class="col site_help" title="Create Quote">Create Quote</a>

<div class="clear"></div>
