<div class="header">
    <div class="header_wrapper">
		<img src="/static/images/master/tabulaw_logo.png" class="header_logo"></img>
		<div class="header_right">
			<div class="user_links">
				<a href="/">Home</a>
					{% if user %}
					|
					<a href="/logout">Logout</a>
                	{% endif %}
			</div>
			<div class="create_new_quote"><a id="create_new_quote" href="/cq" title="Create Quote"><img src="static/images/master/NewQuote.png"/>NEW&nbsp;QUOTE&nbsp;</a></div>
		</div>
    </div>
</div>
