<div class="header">
    <div class="header_wrapper">
		<img src="/static/images/master/tabulaw_logo.png" class="header_logo"></img>
		<div class="header_right">
			<div class="user_links">
				<a href="/">Home</a>
					{% if user %}
					&nbsp;|&nbsp;
					<a href="/logout">Logout</a>
					{% else %}
					 |&nbsp;<a href="login">Sign&nbsp;In</a>&nbsp;|&nbsp;<a href="get_code">Register</a>
                	{% endif %}
			</div>
			{% if show_cq %}
			<div class="create_new_quote"><img src="/static/images/master/new_quote.png"/><a id="create_new_quote" href="/cq" title="Create Quote">NEW&nbsp;QUOTE&nbsp;</a></div>
			{% endif %}
		</div>
		<div class="hidden">
            <form id="get_code_form">
                <div class="error"></div>
		Enter an email address to send your password.<br/>
                <input type="text" class="side_text help_input" value="Email Address..." name="email" id="id_email_code"/>
                <input type="hidden" name="data_id" value="{{data_id}}"/>
                <input type="submit" value="Submit"/>
            </form>
        </div>
    </div>
    <div class="clear"></div>
    <div id="flash_messages" style="position:absolute; top:95px; margin-left: 20px;" class="info hidden"></div>
</div>
