<div class="create_quote">
    <div class="head">Create New Quote</div>
    <div id="error"></div>
    <form method="POST" action="." class="transform" id="cquote">
        <div class="rowElem">
           <a href="#" class="btn1" id="saveq" title="Save New Quote"><span><span><b>&nbsp;</b><u>Save</u></span></span></a>
        </div>
        <div class="labelrowElem">
            <label>Title</label>
        </div>
        <div class="rowElem">
            <input type="text" class="text_input" name="title" id="id_title"/>
        </div>
        <div class="labelrowElem">
            <label>Quote</lable>
        </div>
        <div class="rowElem">
            <textarea name="text" id="id_text"></textarea>
        </div>
        <div class="labelrowElem">
            <label>Author/Court</label>
        </div>
        <div class="rowElem">
            <input type="text" class="text_input" name="author" id="id_author"/>
        </div>
        <div class="labelrowElem">
            <label>Quote Type</label>
        </div>
        <div class="rowElem">
            <select name="doctype" style="width: 100px;">
                {% for id, name in types %}
                <option value="{{id}}">{{name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="clear"></div>
        <div class="labelrowElem">
            <label>Tags</label>
        </div>
        <div class="rowElem">
            <input type="text" class="text_input" name="tag" id="id_tag"/>
        </div>
        <div class="labelrowElem">
            <label>Public</label>
        </div>
        <div class="rowElem">
            <input type="checkbox" name="is_public" id="id_public">
        </div>
        {% if not user %}
        <div class="labelrowElem">
            <label>Email</label>
        </div>
        <div class="rowElem">
            <input type="text" class="text_input" name="email" id="id_email"/>
        </div>
        <div class="labelrowElem">
            <label>Code</label>
        </div>
        <div class="rowElem">
            <input type="text" class="text_input" name="code" id="id_code"/>
        </div>
        {% endif %}
        <div class="labelrowElem">
            <label>References</label>
        </div>
        <div class="rowElem">
            <input type="text" class="text_input" name="reference" class="reference"/>
        </div>
        <div class="rowElem"><img id="add_reference" class="clickable" src="/static/images/master/reference.jpg"></img></div>
        
        <input type="hidden" name="data_id" value="{{data_id}}"/>
        <div class="rowElem">
             <a href="#" class="btn1" title="Save New Quote" id="saveq"><span><span><b>&nbsp;</b><u>Save</u></span></span></a>
        </div>
    </form>
</div>
<script type="text/javascript">
    $(function(){
       $('#saveq').live('click', function(){
           var data = $('form#cquote').serialize();
	   $.get(AJAX_URL, data, function(json){
                 if(json.success){
                    window.location = json.url;
                 } else {
                    $('#error').html(json.reason);
                 }
            });
        });
        $('.remove_ref').live('click', function(){       
            $(this).closest('.rowElem').remove();
        });
       $('#add_reference').live('click', function(){
            $(this).parent().before($('<div class="rowElem"><input type="text" class="text_input" name="reference" class="reference"/>
                                                    <div style="float:right; margin-right: 120px; margin-top: 7px;">
                                                        <img class="remove_ref clickable" src="/static/images/master/close.gif"/>
                                                    </div>
                                </div>'));
       });

    });
</script>
