<div class="create_quote">    
	<div id="error"></div>
    <form method="POST" action="." class="transform" id="cquote">
        <div class="rowElem">
        	<div class="saveRowElem">
        		<a href="#" class="btn1" id="saveq" title="Save New Quote"><span><span><b>&nbsp;</b><u>Save&nbsp;Quote</u></span></span></a>
			</div>
			<div class="rowElem">
				<div class="labelrowElem" id="makePublic">
            		<label>Make Quote Public</label>
        		</div>
				<div class="quoteInput">
					<input type="checkbox" name="is_public" id="id_public">
				</div>
			</div>
        </div>
        <div class="rowElem">
        	<div class="labelRowElem">
            	<input id="id_title" class="side_text help_input" value="Quote Title..." type='text' name='q' value='{{q}}'/>
        	</div>
			<div class="quoteInput">
            	<textarea name="text" id="id_text"></textarea>
        	</div>
		</div>
        <div class="rowElem">
			<div class="rowElemLeft">
            	<div class="labelRowElem">
            		<label>Quote Source</label>
            	</div>
        		<div class="quoteInput">
            		<select name="doctype">
                		{% for id, name in types %}
                		<option value="{{id}}">{{name}}</option>
                		{% endfor %}
        			</select>
				</div>
			</div>
			<div class="rowElemRight">
            	<div class="labelRowElem">
            		<label>Author/Court</label>
				</div>
        		<div class="quoteInput">
            		<input type="text" class="text_input" name="author" id="id_author"/>
        		</div>
			</div>
		</div>
        <div class="clear"></div>
		<div class="rowElem">
			<div class="labelRowElem">
				<label>Tags (comma separated)</label>
			</div>
			<div class="quoteInput">
            	<input type="text" class="text_input" name="tag" id="id_tag"/>
        	</div>
		</div>
        {% if not user %}
        <div class="rowElem">
            <div class="labelRowElem">
				<label>Your Email (to send you a Login Code)</label>
        	</div>
			<div class="quoteInput">
            	<input type="text" class="text_input" name="email" id="id_email"/>
        	</div>
		 </div>
        <div class="rowElem">
        	<div class="labelRowElem">
            	<label>Your Login Code</label>
        		<div class="rowElem">
            		<input type="text" class="text_input" name="code" id="id_code"/>
        		</div>
			</div>
		</div>
        {% endif %}
        <div class="rowElem">
            <div class="labelRowElem">
				<label>Reference(s)</label>
			</div>
        	<div class="quoteInput">
            	<input type="text" class="text_input" name="reference" class="reference"/>
        	</div>
			<div>
				<a id="add_reference" href="#" class="btn1" title="Add Another Reference"><span><span><b>&nbsp;</b><u>+</u></span></span></a>
			</div>
			<input type="hidden" name="data_id" value="{{data_id}}"/>
		</div>
		<div class="saveRowElem">
				<a href="#" class="btn1" id="saveq" title="Save New Quote"><span><span><b>&nbsp;</b><u>Save&nbsp;Quote</u></span></span></a>
		</div>
    </form>
</div>
<script type="text/javascript">
    $(function(){
       $('#saveq').live('click', function(){
           var data = $('form#cquote').serialize();
	   $.get(AJAX_URL, data, function(json){
                 if(json.success){
                    window.location = json.url;
                 } else {
                    $('#error').html(json.reason);
                 }
            });
        });
        $('.remove_ref').live('click', function(){       
            $(this).closest('.rowElem').remove();
        });
       $('#add_reference').live('click', function(){
            $(this).parent().before($('<div class="quoteInput" id="referenceAdded"><input type="text" class="text_input" name="reference"/>
                                                    <div style="float:right; margin-right: 120px; margin-top: 7px;">
                                                        <img class="remove_ref clickable" src="/static/images/master/close.gif"/>
                                                    </div>
                                </div>'));
       });

    });
</script>
