<div class="TabSide" data-id="{{id}}">
  {% autoescape off %}
    {{display_title}}
    {% for e in elements %}
      <div class="{% cycle 'elementEven' 'elementOdd' %}">
     {{ e }}
      </div>
    {% endfor %}
  
      <div class="tabBtns">
        {% if Prev %}
        <div class="tabPrevBtn tabNav" data-id="{{Prev.data_id}}">
          Previous
        </div>
        {% endif %}
        {% if Next %}
        <div class="tabNextBtn tabNav" data-id="{{Next.data_id}}">
          Next
        </div>
        {% endif %}
      </div>
  {% endautoescape %}
  
  {% if user %}
  <div class="add_project">
    New&nbsp;Project
  	<form id="project_form">
    	<input type="text" class="side_text help_input" name="name" value="Project&nbsp;name..."/>
    	<input type="hidden" name="data_id" value="{{project}}"/>
  	</form>
	<div class="addprojectbtn">
		<a id='submit_project_form' href="javascript:{}"  class="btn1" title="New Project"><span><span>Create</span></span></a>
  	</div>
  </div>
  {% endif %}
  <div class="hidden">
    <form id="entercode_form">
      <div class="error"></div>
      <input type="text" class="side_text help_input" value="Enter Code" name="code"/>
      <input type="hidden" name="data_id" value="{{data_id}}"/>
      <div class="submit_code" style="float:right; margin-right:10px">
            <a id='submit_code_form' href="javascript:{}" class="btn1"><span><span><b>&nbsp;</b><u>Submit</u></span></span></a>
      </div>
    </form>
  </div>
</div>
